SECRET_KEY="secret_key"
DJANGO_SETTINGS_MODULE="config.django.local"
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_NAME=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMAIL_HOST=smtp.dominio.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=email@dominio.com
EMAIL_HOST_PASSWORD=password
