{% extends 'global/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Movimentações de vendas</h1>
  <a href="{% url 'venda_create' %}" class="btn btn-primary">Nova venda</a>
</div>

{% include 'global/partials/_search_filter.html' with search_param="search" placeholder="Buscar movimentações" %}

<section class="table-responsive-lg">
  <table class="table table-striped">
    
    <!-- TABLE_HEADER -->
    {% include 'global/partials/_table_header.html' with headers=headers request=request %}

    <tbody>
      {% for movimentacao in object_list %}
        <tr>
          <td>
            <a href="{% url 'produto_details' movimentacao.produto.id %}" class="link-underline link-underline-opacity-0">
              {{ movimentacao.produto }}
            </a>
          </td> 
          <td class="text-center">{{ movimentacao.quantidade|default:"un" }}</td>
          <td class="text-center">{{ movimentacao.preco_unitario|currency }}</td>
          <td class="text-center">{{ movimentacao.novo_preco_custo|currency }}</td>
          <td class="text-center">{{ movimentacao.novo_preco_venda|currency }}</td>
          <td>
            {% if movimentacao.cliente %}
                <a href="{% url 'cliente_details' movimentacao.cliente.id %}" class="link-underline link-underline-opacity-0">
                    {{ movimentacao.cliente }}
                </a>
            {% else %}
                -
            {% endif %}
          </td> 
          {% if movimentao.empresa %}
            <td>{{ movimentacao.empresa }}</td>
          {% endif %}
          <td class="text-center">{{ movimentacao.data_criacao|date:"d/m/Y \à\s H:i" }}</td>
          {% comment %} <td>
            <div class="d-flex align-items-center">
              {% if movimentacao.status == 'ativo' %}
                <i class="bi bi-check-circle-fill text-success me-1"></i>
                {{ movimentacao.get_status_display }}
              {% elif movimentacao.status == 'inativo' %}
                <i class="bi bi-x-circle-fill text-danger me-1"></i>
                {{ movimentacao.get_status_display }}
              {% endif %}
            </div>
          </td> {% endcomment %}
          {% if request.user.is_superuser %}
            <td>{{ movimentacao.empresa }}</td>
          {% endif %}
          
          <!-- AÇÕES DO BOTÃO -->
          {% comment %} {% include 'global/partials/_table_cell_actions.html' with object=movimentacao actions_template='movimentacao/movimentacao_list_actions.html' %} {% endcomment %}

         
        </tr>
      {% empty %}
        <tr>
          <td colspan="{{ headers|length|add:2 }}" class="text-center">Nenhuma movimentacao encontrada.</td>
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
</section>

<!-- MODAL -->
{% comment %} {% for produto in object_list %}
  {% include "global/partials/_modal_confirm_delete.html" with object=produto object_name="o produto" object_display=produto.nome delete_url=produto.get_delete_url %}
{% endfor %} {% endcomment %}

<!-- PAGINAÇÃO -->
{% include 'global/partials/_pagination.html' %}
{% endblock %}
