{% extends 'global/base.html' %} {% block content %}
<div class="container d-flex justify-content-left align-items-center">
  <div style="min-width: 350px; max-width: 600px; width: 100%">
    <h2 class="mb-4">Registrar venda</h2>

    <form method="POST">
      {% csrf_token %} {% if form.empresa %}
      <div class="mb-3">
        <label for="{{ form.empresa.id_for_label }}" class="form-label"
          >{{ form.empresa.label }}</label
        >
        {{ form.empresa }} {% if form.empresa.errors %}
        <div class="text-danger">{{ form.empresa.errors }}</div>
        {% endif %}
      </div>
      {% endif %}

      <div class="mb-3">
        <label for="{{ form.produto.id_for_label }}" class="form-label"
          >{{ form.produto.label }}</label
        >
        {{ form.produto }} {% if form.produto.errors %}
        <div class="text-danger">{{ form.produto.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.quantidade.id_for_label }}" class="form-label"
          >{{ form.quantidade.label }}</label
        >
        {{ form.quantidade }}
        {% comment %} <small id="quantidade-help" class="form-text">
          Selecione um produto para ver a quantidade em estoque.
        </small> {% endcomment %}
        {% if form.quantidade.errors %}
        <div class="text-danger">{{ form.quantidade.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.preco_unitario.id_for_label }}" class="form-label"
          >{{ form.preco_unitario.label }}</label
        >
        {{ form.preco_unitario }}
        {% comment %} <small id="preco-unitario-help" class="form-text">
          Selecione um produto para ver o preço atual.
        </small> {% endcomment %}
        {% if form.preco_unitario.errors %}
        <div class="text-danger">{{ form.preco_unitario.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="{{ form.cliente.id_for_label }}" class="form-label"
          >{{ form.cliente.label }}</label
        >
        {{ form.cliente }} {% if form.cliente.errors %}
        <div class="text-danger">{{ form.cliente.errors }}</div>
        {% endif %}
      </div>

      {% include 'global/partials/_form_buttons.html' with cancel_url='/movimentacao/venda/' %}
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetchProdutosPorEmpresa();
    fetchClientesPorEmpresa();
  });
</script>

{% endblock %}
