<div class="mb-3">
    <label for="{{ field.id_for_label }}" class="form-label">
        {{ field.label }}
        {% if field.field.required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    {{ field }}
    
    {% if field.help_text %}
        <div class="helper-text">
            {{ field.help_text }}
        </div>
    {% endif %}
    
    {% if field.errors %}
        <div class="helper-text text-danger small">
            {{ field.errors|striptags }}
        </div>
    {% endif %}
</div>

<script>
    document.getElementById("{{ field.id_for_label }}")?.classList.add("form-control");
</script>
