<div class="modal fade" id="deleteModal-{{ object.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ object.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel-{{ object.id }}">Confirmar exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        Tem certeza de que deseja excluir {{ object_name }} <strong>{{ object_display }}</strong>?
        Esta ação não poderá ser desfeita.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ delete_url }}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>

    </div>
  </div>
</div>
