<section class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        {% for header in headers %}
          {% include 'global/partials/_table_header.html' %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr>
          {% for value in item %}
            <td>{{ value|default:"-" }}</td>
          {% endfor %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="{{ headers|length }}" class="text-center">
            Nenhum item encontrado.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
