*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert-success {
  background: rgba(0, 255, 0, 0.3);
  border: 1px solid rgba(0, 255, 0, 90%);
}

.alert-error {
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(255, 0, 0, 90%);
}

.alert-warning {
  background: rgba(255, 255, 0, 0.3);
  border: 1px solid rgba(255, 255, 0, 90%);
}

.alert-info {
  background: rgba(0, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 255, 0.3);
}