{% extends 'global/base.html' %}

{% block content %}
  <h1>Detalhes do cliente</h1>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="fw-bold">Nome:</td>
        <td>{{ data.nome }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Endereço:</td>
        <td>{{ data.endereco }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Telefone:</td>
        <td>{{ data.telefone }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Empresa:</td>
        <td>{{ data.empresa }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
