{% extends 'global/base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Lista de clientes</h1>
    <a href="{% url 'cliente_create' %}" class="btn btn-primary">Novo Cliente</a>
  </div>

  {% include 'global/partials/_search_filter.html' with search_param="search" placeholder="Buscar clientes" %}

  {% include 'global/partials/_table.html' with data=data headers=headers %}

  {% include 'global/partials/_pagination.html' %}
  
{% endblock %}
