<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'global/partials/_head.html' %}
  </head>
  <body class="bg-light">
      <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%">
          <h1 class="text-center mb-4">Redefinir Senha</h1>
          <p class="text-center lead">Digite sua nova senha abaixo.</p>
          <form method="POST">
            {% csrf_token %} 
            {% for field in form %} 
                {% include 'global/partials/_form_field.html' %}
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">
              Redefinir Senha
            </button>
          </form>
        </div>
      </div>
  </body>
</html>
