{% extends 'global/base.html' %}
{% block content %}
    <div style="max-width: 600px; width: 100%">
        <h2 class="mb-4">Configurações do Usuário</h2>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% include 'global/partials/_form_field.html' %}
            {% endfor %}
            {% include 'global/partials/_form_buttons.html' with cancel_url='/' confirm_label="Salvar alterações" %}
        </form>
        <a href="{% url 'password_change' %}">Alterar senha</a>
    </div>
{% endblock %}
