{% extends 'global/base.html' %} {% block content %}
<div class="container">

  <h1 class="mb-4">
    {% if request.user.is_superuser %}
      Bem-vindo, {{ request.user.username }}
    {% else %}
      {% if request.user.empresas.all %}
        {{ request.user.empresas.all.0.empresa.nome }},
      {% else %}
        Empresa,
      {% endif %}
      bem-vindo(a) à página inicial!
    {% endif %}
  </h1>
  

  <div class="row g-4">
    <div class="col-md-6">
      <a
        href="/cliente/"
        class="btn btn-primary w-100 py-5 px-4 fs-5 shadow rounded-3"
      >
        🧑 <strong>Clientes</strong><br />
        <small>Cadastro e gerenciamento de clientes</small>
      </a>
    </div>
    <div class="col-md-6">
      <a
        href="/produto/"
        class="btn btn-danger w-100 py-5 px-4 fs-5 shadow rounded-3"
      >
        📦 <strong>Produtos</strong><br />
        <small>Controle e organização dos produtos</small>
      </a>
    </div>
    <div class="col-md-6">
      <a
        href="/movimentacao/venda/"
        class="btn btn-success w-100 py-5 px-4 fs-5 shadow rounded-3"
      >
        💸 <strong>Vendas</strong><br />
        <small>Controle e registro de saída de produtos</small>
      </a>
    </div>
    <div class="col-md-6">
      <a
        href="/movimentacao/compra/"
        class="btn btn-warning w-100 py-5 px-4 fs-5 shadow rounded-3"
      >
        🛒 <strong>Compras</strong><br />
        <small>Controle e registro de entrada de produtos</small>
      </a>
    </div>
    <div class="col-md-6 w-100">
      <a
        href="/analisar/"
        class="btn btn-info w-100 py-5 px-4 fs-5 shadow rounded-3"
      >
        📊 <strong>Analisar</strong><br />
        <small>Analise os dados da sua empresa</small>
      </a>
    </div>
  </div>
</div>
{% endblock %}
